In [2]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Final.csv', index_col=[0])
image = pd.read_csv('Books.csv')
df

C:\Users\Hxze.-\AppData\Local\Temp\ipykernel_12808\2225275342.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  image = pd.read_csv('Books.csv')

,User-ID,Location,Age,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,Publisher
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press
1,8,"timmins, ontario, canada",29.0,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
2,11400,"ottawa, ontario, canada",49.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
3,11676,"n/a, n/a, n/a",29.0,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
4,41385,"sudbury, ontario, canada",29.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
...,...,...,...,...,...,...,...,...,...
1031131,278851,"dallas, texas, usa",33.0,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000.0,Simon &amp; Schuster
1031132,278851,"dallas, texas, usa",33.0,0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001.0,Broadway Books
1031133,278851,"dallas, texas, usa",33.0,0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985.0,Lone Star Books
1031134,278851,"dallas, texas, usa",33.0,0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997.0,Kqed Books
1031135,278851,"dallas, texas, usa",33.0,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999.0,American Map Corporation

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 9 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   User-ID            1031136 non-null  int64
 1   Location           1031136 non-null  object
 2   Age                1031136 non-null  float64
 3   ISBN               1031136 non-null  object
 4   bookRating         1031136 non-null  int64
 5   bookTitle          1031136 non-null  object
 6   bookAuthor         1031136 non-null  object
 7   yearOfPublication  1031136 non-null  float64
 8   Publisher          1031136 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 78.7+ MB

In [4]:
df.isnull().sum()

User-ID              0
Location             0
Age                  0
ISBN                 0
bookRating           0
bookTitle            0
bookAuthor           0
yearOfPublication    0
Publisher            0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [48]:
pickle.dump(image,open('image.pkl','wb'))

## Using Popularity Based Approach to display top 50 books from the Dataset

In [6]:
popular = df.groupby('bookTitle').count()['bookRating'].reset_index()
popular.rename(columns={'bookTitle':'Title','bookRating':'Votes'},inplace=True)
popular

                                                    Title  Votes
0        A Light in the Storm: The Civil War Diary of ...      4
1                                   Always Have Popsicles      1
2                    Apple Magic (The Collector's series)      1
3        Ask Lily (Young Women of Faith: Lily Series, ...      1
4        Beyond IBM: Leadership Marketing and Finance ...      1
...                                                   ...    ...
241066                                      Ãƒ?Ã‚?lpiraten.      2
241067                     Ãƒ?Ã‚?rger mit Produkt X. Roman.      4
241068                                Ãƒ?Ã‚?sterlich leben.      1
241069                              Ãƒ?Ã‚?stlich der Berge.      3
241070                                  Ãƒ?Ã‚?thique en toc      2

[241071 rows x 2 columns]

In [7]:
rating = df.groupby('bookTitle').mean()['bookRating'].reset_index()
rating.rename(columns={'bookTitle':'Title','bookRating':'Rating'},inplace=True)
rating

                                                    Title    Rating
0        A Light in the Storm: The Civil War Diary of ...  2.250000
1                                   Always Have Popsicles  0.000000
2                    Apple Magic (The Collector's series)  0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...  8.000000
4        Beyond IBM: Leadership Marketing and Finance ...  0.000000
...                                                   ...       ...
241066                                      Ãƒ?Ã‚?lpiraten.  0.000000
241067                     Ãƒ?Ã‚?rger mit Produkt X. Roman.  5.250000
241068                                Ãƒ?Ã‚?sterlich leben.  7.000000
241069                              Ãƒ?Ã‚?stlich der Berge.  2.666667
241070                                  Ãƒ?Ã‚?thique en toc  4.000000

[241071 rows x 2 columns]

In [8]:
popular = popular.merge(rating,on='Title')
popular

                                                    Title  Votes    Rating
0        A Light in the Storm: The Civil War Diary of ...      4  2.250000
1                                   Always Have Popsicles      1  0.000000
2                    Apple Magic (The Collector's series)      1  0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...      1  8.000000
4        Beyond IBM: Leadership Marketing and Finance ...      1  0.000000
...                                                   ...    ...       ...
241066                                      Ãƒ?Ã‚?lpiraten.      2  0.000000
241067                     Ãƒ?Ã‚?rger mit Produkt X. Roman.      4  5.250000
241068                                Ãƒ?Ã‚?sterlich leben.      1  7.000000
241069                              Ãƒ?Ã‚?stlich der Berge.      3  2.666667
241070                                  Ãƒ?Ã‚?thique en toc      2  4.000000

[241071 rows x 3 columns]

In [9]:
popular = popular[popular['Votes']>=200].sort_values('Rating',ascending=False).head(50)
popular.rename(columns={'Title':'Book-Title'},inplace=True)
popular

                                               Book-Title  Votes    Rating
80434   Harry Potter and the Prisoner of Azkaban (Book 3)    428  5.852804
80422        Harry Potter and the Goblet of Fire (Book 4)    387  5.824289
80441      Harry Potter and the Sorcerer's Stone (Book 1)    278  5.737410
80426   Harry Potter and the Order of the Phoenix (Boo...    347  5.501441
60582       Ender's Game (Ender Wiggins Saga (Paperback))    249  5.409639
80414    Harry Potter and the Chamber of Secrets (Book 2)    556  5.183453
191612  The Hobbit : The Enchanting Prelude to The Lor...    281  5.007117
187377  The Fellowship of the Ring (The Lord of the Ri...    368  4.948370
80445   Harry Potter and the Sorcerer's Stone (Harry P...    575  4.895652
211384     The Two Towers (The Lord of the Rings, Part 2)    260  4.880769
219741                              To Kill a Mockingbird    510  4.700000
183573                                  The Da Vinci Code    898  4.642539
187880                 The Five People You Meet in Heaven    430  4.551163
180556                             The Catcher in the Rye    449  4.545657
204672  The Return of the King (The Lord of the Rings,...    211  4.497630
196326                          The Lovely Bones: A Novel   1295  4.468726
190081                                   The Great Gatsby    205  4.458537
764                                                  1984    284  4.454225
144165                           Prodigal Summer: A Novel    253  4.450593
128670                                         Neverwhere    265  4.449057
206502                            The Secret Life of Bees    774  4.447028
168719  Stupid White Men ...and Other Sorry Excuses fo...    283  4.356890
223135  Tuesdays with Morrie: An Old Man, a Young Man,...    493  4.354970
204387                The Red Tent (Bestselling Backlist)    723  4.334716
27295                                     Brave New World    226  4.331858
191589               The Hitchhiker's Guide to the Galaxy    268  4.328358
129379   Nickel and Dimed: On (Not) Getting By in America    335  4.289552
209778                                    The Tao of Pooh    211  4.289100
14607                                         Animal Farm    233  4.274678
93381                                       Into the Wild    252  4.273810
63867                                      Fahrenheit 451    409  4.264059
7373    A Walk in the Woods: Rediscovering America on ...    205  4.243902
74750                           Girl with a Pearl Earring    526  4.218631
129444                                              Night    202  4.217822
136145                                          Outlander    283  4.173145
209209      The Subtle Knife (His Dark Materials, Book 2)    225  4.124444
181699  The Color of Water: A Black Man's Tribute to H...    223  4.107623
233370  Where the Heart Is (Oprah's Book Club (Paperba...    585  4.105983
156102                     Seabiscuit: An American Legend    275  4.098182
107962                                         Life of Pi    664  4.088855
176845                                     The Bean Trees    389  4.087404
2281    A Child Called \It\": One Child's Courage to S...    265  4.086792
8434                                       ANGELA'S ASHES    279  4.075269
83432                                       High Fidelity    247  4.056680
76343                                         Good in Bed    490  4.055102
64931   Fast Food Nation: The Dark Side of the All-Ame...    321  4.037383
12700                                       American Gods    302  4.006623
161645                                 Skipping Christmas    322  4.006211
105777  Left Behind: A Novel of the Earth's Last Days ...    318  4.003145
189551    The Golden Compass (His Dark Materials, Book 1)    336  4.000000

In [10]:
popular = popular.merge(image,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Year-Of-Publication','Image-URL-M','Votes','Rating']]

In [11]:
popular.rename(columns={'Book-Title':'Title','Book-Author':'Author','Year-Of-Publication':'Release_year','Image-URL-M':'Image'},inplace=True)

In [12]:
popular['Rating'] = popular['Rating'].round(2)

In [13]:
popular

,Title,Author,Release_year,Image,Votes,Rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,http://images.amazon.com/images/P/0439136350.0...,428,5.85
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,http://images.amazon.com/images/P/0439139597.0...,387,5.82
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,http://images.amazon.com/images/P/0590353403.0...,278,5.74
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,http://images.amazon.com/images/P/043935806X.0...,347,5.50
13,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1992,http://images.amazon.com/images/P/0312853238.0...,249,5.41
17,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,http://images.amazon.com/images/P/0439064872.0...,556,5.18
20,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339681.0...,281,5.01
21,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339703.0...,368,4.95
30,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,http://images.amazon.com/images/P/059035342X.0...,575,4.90
32,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339711.0...,260,4.88
43,To Kill a Mockingbird,Harper Lee,1988,http://images.amazon.com/images/P/0446310786.0...,510,4.70
51,The Da Vinci Code,Dan Brown,2003,http://images.amazon.com/images/P/0385504209.0...,898,4.64
57,The Five People You Meet in Heaven,Mitch Albom,2003,http://images.amazon.com/images/P/0786868716.0...,430,4.55
59,The Catcher in the Rye,J.D. Salinger,1991,http://images.amazon.com/images/P/0316769487.0...,449,4.55
66,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,1986,http://images.amazon.com/images/P/0345339738.0...,211,4.50
76,The Lovely Bones: A Novel,Alice Sebold,2002,http://images.amazon.com/images/P/0316666343.0...,1295,4.47
77,The Great Gatsby,F. Scott Fitzgerald,1999,http://images.amazon.com/images/P/185326041X.0...,205,4.46
79,1984,George Orwell,1990,http://images.amazon.com/images/P/0451524934.0...,284,4.45
88,Prodigal Summer: A Novel,Barbara Kingsolver,2001,http://images.amazon.com/images/P/0060959037.0...,253,4.45
89,Neverwhere,Neil Gaiman,1998,http://images.amazon.com/images/P/0380789019.0...,265,4.45
94,The Secret Life of Bees,Sue Monk Kidd,2003,http://images.amazon.com/images/P/0142001740.0...,774,4.45
100,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,2002,http://images.amazon.com/images/P/0060392452.0...,283,4.36
101,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,1997,http://images.amazon.com/images/P/0385484518.0...,493,4.35
104,The Red Tent (Bestselling Backlist),Anita Diamant,1998,http://images.amazon.com/images/P/0312195516.0...,723,4.33
105,Brave New World,Aldous Huxley,1989,http://images.amazon.com/images/P/0060809833.0...,226,4.33
110,The Hitchhiker's Guide to the Galaxy,Douglas Adams,1982,http://images.amazon.com/images/P/0671461494.0...,268,4.33
119,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,2002,http://images.amazon.com/images/P/0805063897.0...,335,4.29
121,The Tao of Pooh,Benjamin Hoff,1983,http://images.amazon.com/images/P/0140067477.0...,211,4.29
123,Animal Farm,George Orwell,2004,http://images.amazon.com/images/P/0451526341.0...,233,4.27
133,Into the Wild,Jon Krakauer,1997,http://images.amazon.com/images/P/0385486804.0...,252,4.27
136,Fahrenheit 451,Ray Bradbury,1994,http://images.amazon.com/images/P/3257208626.0...,409,4.26
149,A Walk in the Woods: Rediscovering America on ...,Bill Bryson,1999,http://images.amazon.com/images/P/0767902521.0...,205,4.24
150,Girl with a Pearl Earring,Tracy Chevalier,2001,http://images.amazon.com/images/P/0452282152.0...,526,4.22
151,Night,Elie Wiesel,1982,http://images.amazon.com/images/P/0553272535.0...,202,4.22
156,Outlander,DIANA GABALDON,1996,http://images.amazon.com/images/P/0440222915.0...,283,4.17
162,"The Subtle Knife (His Dark Materials, Book 2)",PHILIP PULLMAN,2002,http://images.amazon.com/images/P/0375823468.0...,225,4.12
170,The Color of Water: A Black Man's Tribute to H...,James McBride,1997,http://images.amazon.com/images/P/1573225789.0...,223,4.11
172,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,1998,http://images.amazon.com/images/P/0446672211.0...,585,4.11
173,Seabiscuit: An American Legend,LAURA HILLENBRAND,2002,http://images.amazon.com/images/P/0449005615.0...,275,4.10
175,Life of Pi,Yann Martel,2002,http://images.amazon.com/images/P/0151008116.0...,664,4.09
179,The Bean Trees,Barbara Kingsolver,1989,http://images.amazon.com/images/P/0060915544.0...,389,4.09
182,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,1995,http://images.amazon.com/images/P/1558743669.0...,265,4.09
184,ANGELA'S ASHES,Frank McCourt,1996,http://images.amazon.com/images/P/0684874350.0...,279,4.08
186,High Fidelity,Nick Hornby,1996,http://images.amazon.com/images/P/1573225517.0...,247,4.06
192,Good in Bed,Jennifer Weiner,2002,http://images.amazon.com/images/P/0743418174.0...,490,4.06
194,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,2002,http://images.amazon.com/images/P/0060938455.0...,321,4.04
195,American Gods,Neil Gaiman,2002,http://images.amazon.com/images/P/0380789035.0...,302,4.01
196,Skipping Christmas,JOHN GRISHAM,2001,http://images.amazon.com/images/P/0385505833.0...,322,4.01
202,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,1996,http://images.amazon.com/images/P/0842329129.0...,318,4.00
204,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,2002,http://images.amazon.com/images/P/037582345X.0...,336,4.00

## Item-Item Based Collaborative Filtering

In [14]:
import pickle
pickle.dump(popular,open('popular.pkl','wb'))

In [15]:
df

,User-ID,Location,Age,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,Publisher
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press
1,8,"timmins, ontario, canada",29.0,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
2,11400,"ottawa, ontario, canada",49.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
3,11676,"n/a, n/a, n/a",29.0,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
4,41385,"sudbury, ontario, canada",29.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
...,...,...,...,...,...,...,...,...,...
1031131,278851,"dallas, texas, usa",33.0,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000.0,Simon &amp; Schuster
1031132,278851,"dallas, texas, usa",33.0,0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001.0,Broadway Books
1031133,278851,"dallas, texas, usa",33.0,0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985.0,Lone Star Books
1031134,278851,"dallas, texas, usa",33.0,0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997.0,Kqed Books
1031135,278851,"dallas, texas, usa",33.0,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999.0,American Map Corporation

In [16]:
x = df.groupby('User-ID').count()['bookRating'] > 200
filtered_users = x[x].index

In [17]:
filtered = df[df['User-ID'].isin(filtered_users)]
filtered

,User-ID,Location,Age,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,Publisher
3,11676,"n/a, n/a, n/a",29.0,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
6,85526,"victoria, british columbia, canada",36.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
7,96054,"ottawa, ontario, canada",29.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
10,177458,"ottawa, ontario, canada",29.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada
21,110912,"milpitas, california, usa",36.0,0374157065,10,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux
...,...,...,...,...,...,...,...,...,...
1031065,278418,"omaha, nebraska, usa",0.0,1882419944,0,McSe Rapid Review for Tcp/Ip Microsoft Windows...,Michael A. Pastore,1998.0,29th Street Press
1031066,278418,"omaha, nebraska, usa",0.0,1882419952,0,Windows Nt Server 4.0 in the Enterprise (Rapid...,Michael A. Pastore,1999.0,29th Street Press
1031067,278418,"omaha, nebraska, usa",0.0,1882419960,0,McSe Systems Management Server 1.2: Rapid Revi...,Michael A. Pastore,1998.0,29th Street Press
1031068,278418,"omaha, nebraska, usa",0.0,1892083043,0,Gotcha! Strategy Games for Math and Logic (Hom...,Denise Gaskins,1998.0,Tabletop Academy Pr
1031069,278418,"omaha, nebraska, usa",0.0,1931102589,0,Science Fiction Classics (8 Cassette Deluxe Ed...,H.G. Wells,2001.0,Topics Entertainment

In [26]:
y = df.groupby('bookTitle').count()['bookRating'] > 100
filtered_books = y[y].index

In [27]:
filtered = df[df['bookTitle'].isin(filtered_books)]
filtered

,User-ID,Location,Age,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,Publisher
30,8,"timmins, ontario, canada",25.0,0399135782,0,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
31,11676,"n/a, n/a, n/a",25.0,0399135782,9,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
32,29526,"knoxville, tennessee, usa",26.0,0399135782,9,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
33,36836,"raleigh, north carolina, usa",56.0,0399135782,0,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
34,46398,"san antonio, texas, usa",37.0,0399135782,9,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
...,...,...,...,...,...,...,...,...,...
1029284,275970,"pittsburgh, pennsylvania, usa",46.0,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001.0,Time Warner Audio Major
1029651,277157,"garden grove, california, usa",70.0,0375727981,5,Saving Faith,DAVID BALDACCI,2000.0,Random House Large Print
1029792,277554,"oxford, michigan, usa",24.0,0613025326,0,The Bridges of Madison County,Robert James Waller,1999.0,Sagebrush Bound
1029795,277563,"felton, california, usa",66.0,044667883X,5,Last Man Standing,David Baldacci,2001.0,Warner Books
1029855,277639,"forsyth, montana, usa",48.0,0590313088,0,Hideaway,Beverly H. Renner,1980.0,Scholastic

In [28]:
filtered.rename(columns={'User-ID':'user_id'},inplace=True)
filtered

C:\Users\Hxze.-\AppData\Local\Temp\ipykernel_12808\1112813168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered.rename(columns={'User-ID':'user_id'},inplace=True)

,user_id,Location,Age,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,Publisher
30,8,"timmins, ontario, canada",25.0,0399135782,0,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
31,11676,"n/a, n/a, n/a",25.0,0399135782,9,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
32,29526,"knoxville, tennessee, usa",26.0,0399135782,9,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
33,36836,"raleigh, north carolina, usa",56.0,0399135782,0,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
34,46398,"san antonio, texas, usa",37.0,0399135782,9,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group
...,...,...,...,...,...,...,...,...,...
1029284,275970,"pittsburgh, pennsylvania, usa",46.0,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001.0,Time Warner Audio Major
1029651,277157,"garden grove, california, usa",70.0,0375727981,5,Saving Faith,DAVID BALDACCI,2000.0,Random House Large Print
1029792,277554,"oxford, michigan, usa",24.0,0613025326,0,The Bridges of Madison County,Robert James Waller,1999.0,Sagebrush Bound
1029795,277563,"felton, california, usa",66.0,044667883X,5,Last Man Standing,David Baldacci,2001.0,Warner Books
1029855,277639,"forsyth, montana, usa",48.0,0590313088,0,Hideaway,Beverly H. Renner,1980.0,Scholastic

In [29]:
filtered.duplicated().sum()

0

In [30]:
pickle.dump(filtered,open('filtered_item.pkl','wb'))

In [31]:
pivot = filtered.pivot_table(index='bookTitle',columns='user_id',values='bookRating')
pivot.fillna(0,inplace=True)

In [33]:
pivot

user_id,8,9,14,16,17,26,32,39,42,44,...,278819,278820,278824,278828,278832,278836,278843,278844,278846,278854
bookTitle,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
pickle.dump(pivot,open('pivot_item.pkl','wb'))

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
%%time
similarity = cosine_similarity(pivot)

CPU times: total: 4.53 s
Wall time: 984 ms

In [50]:
pickle.dump(similarity,open('similarity_item.pkl','wb'))

In [36]:
similarity.shape

(904, 904)

In [37]:
popular.head().values

array([['Harry Potter and the Prisoner of Azkaban (Book 3)',
        'J. K. Rowling', 1999,
        'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg',
        428, 5.85],
       ['Harry Potter and the Goblet of Fire (Book 4)', 'J. K. Rowling',
        2000,
        'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg',
        387, 5.82],
       ["Harry Potter and the Sorcerer's Stone (Book 1)",
        'J. K. Rowling', 1998,
        'http://images.amazon.com/images/P/0590353403.01.MZZZZZZZ.jpg',
        278, 5.74],
       ['Harry Potter and the Order of the Phoenix (Book 5)',
        'J. K. Rowling', 2003,
        'http://images.amazon.com/images/P/043935806X.01.MZZZZZZZ.jpg',
        347, 5.5],
       ["Ender's Game (Ender Wiggins Saga (Paperback))",
        'Orson Scott Card', 1992,
        'http://images.amazon.com/images/P/0312853238.01.MZZZZZZZ.jpg',
        249, 5.41]], dtype=object)

In [38]:
def recommend(book_name):
    index = np.where(pivot.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)[1:6]
    
    for i in similar_items:
        print(pivot.index[i[0]])

In [39]:
recommend('Harry Potter and the Chamber of Secrets (Book 2)')

Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Sorcerer's Stone (Book 1)
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))
Harry Potter and the Order of the Phoenix (Book 5)

In [40]:
recommend('The Fellowship of the Ring (The Lord of the Rings, Part 1)')

The Two Towers (The Lord of the Rings, Part 2)
The Return of the King (The Lord of the Rings, Part 3)
The Hobbit : The Enchanting Prelude to The Lord of the Rings
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Chamber of Secrets (Book 2)

In [43]:
image

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [44]:
def recommend_dep(book_name):
    index = np.where(pivot.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)[1:6]
    
    output = []
    for i in similar_items:
        item = []
        temp_df = image[image['Book-Title'] == pivot.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-L'].values))
        output.append(item)
        
    return output

In [45]:
recommend_dep('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.LZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.LZZZZZZZ.jpg'],
 ['American Psycho (Vintage Contemporaries)',
  'Bret Easton Ellis',
  'http://images.amazon.com/images/P/0679735771.01.LZZZZZZZ.jpg'],
 ["Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death",
  'Kurt Vonnegut',
  'http://images.amazon.com/images/P/0440180295.01.LZZZZZZZ.jpg'],
 ['Lord of the Flies',
  'William Gerald Golding',
  'http://images.amazon.com/images/P/0399501487.01.LZZZZZZZ.jpg']]

In [47]:
recommend_dep('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.LZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.LZZZZZZZ.jpg'],
 ['American Psycho (Vintage Contemporaries)',
  'Bret Easton Ellis',
  'http://images.amazon.com/images/P/0679735771.01.LZZZZZZZ.jpg'],
 ["Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death",
  'Kurt Vonnegut',
  'http://images.amazon.com/images/P/0440180295.01.LZZZZZZZ.jpg'],
 ['Lord of the Flies',
  'William Gerald Golding',
  'http://images.amazon.com/images/P/0399501487.01.LZZZZZZZ.jpg']]